.guitarBasket {
    display: flex;
    margin: 50px 0 50px 0;
    display: flex;
    justify-content: space-around;
}

.basketImg {
    width: 300px;
    height: 300px;
}

.guitarBasket h2 {
    margin-top: 130px;
}

.guitarBasket span {
    margin-top: 130px;
    font-size: 20px;
}

.changeCount {
    background: none;
    border: none;
    font-size: 50px;
    opacity: 0.5;
    transition: 0.5s;
}

.changeCount:hover {
    opacity: 1;
}

.count {
    font-size: 35px;
    margin-top: 125px;
}

.Basket-title {
    color: #FF6428;
    text-align: center;
}

#deleteBtn {
    margin-top: 125px;
}

.basket-end {
    position: fixed;
    background-color: white;
    height: 100px;
    width: 100%;
    bottom: 0;
    padding: 20px 0 20px 0;
    font-size: 25px;
    border-top: 2px solid #666666;
    text-align: end;
}

.basket-end nav {
    margin-right: 20px;
}

.basket-end button {
    width: 160px;
    padding: 10px;
    background-color: #FF6428;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 25px;
    margin: 20px 20px 0 0;
    transition: 0.4s;
}

.basket-end button:hover {
    background-color: #bf4e21;
}

.basket-end button:active {
    background-color: #993e1a;
}