.Main {
  display: flex;
  justify-content: center;
}

.slider {
  max-width: 1570px;
  margin-top: 100px;
}

.slider-button {
    width: 25px;
    height: 7px;
    background-color: #E9E9E9;
    border: none;
    margin: 5px;
    margin-top: 15px;
  }
  
  .slider ol {
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  .movements {
    display: block;
    height: 0;
  }
  
  .category-slider {
    display: flex;
    justify-content: center;
  }
  
  .slider-tick { 
    height: 25px;
    margin-top: 255px;
    border: none;
    background: none;
    color: black;
    font-size: 45px;
    margin-left: 21px;
  }
  
  .slider ::-webkit-scrollbar {
    display: none;
  }
  
  .slider ::-webkit-scrollbar-thumb {
    display: none;
  }

  .guitar {
    max-width: 300px;
  }

  .guitar img {
    width: 300px;
    height: 300px;
    margin: 15px;
  }

  .guitar span {
    color: #666;
    margin-top: 10px !important;
  }

.errAmount {
  display: block;
  margin-top: 0 !important;
  color: red !important;
}

  .slider-title {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
  }

  .blocks-links {
    display: flex;
    justify-content: center;
    margin-top: 165px;
  }

  .block-link {
    width: 220px;
    height: 280px;
    border-radius: 20px;
    text-align: center;
    margin: 20px;
  }

  .block-link a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    position: relative;
    top: 100px;
  }

  #electric {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.16) 50%, rgba(0, 0, 0, 0.80) 100%), url('../img/electric.png'), 
      lightgray 50% / cover no-repeat;
  }

  #acustic {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.16) 50%, rgba(0, 0, 0, 0.80) 100%), url('../img/acustic.png'), 
      lightgray 50% / cover no-repeat;
    background-size: cover;
  }

  #classic {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.16) 50%, rgba(0, 0, 0, 0.80) 100%), url('../img/classic.png'), 
      lightgray 50% / cover no-repeat;
    background-size: cover;
  }

  #bass {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.16) 50%, rgba(0, 0, 0, 0.80) 100%), url('../img/bass.png'), 
      lightgray 50% / cover no-repeat;
    background-size: cover;
  }

  #combo {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.16) 50%, rgba(0, 0, 0, 0.80) 100%), url('../img/combo.png'), 
      lightgray 50% / cover no-repeat;
    background-size: cover;
  }

  #acessuary {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.16) 50%, rgba(0, 0, 0, 0.80) 100%), url('../img/acessuary.png'), 
      lightgray 50% / cover no-repeat;
    background-size: cover;
  }

  .text {
    text-align: center;
    margin-top: 120px;
  }

 .header {
    color: black; 
    font-size: 44px; 
    font-weight: 600; 
    word-wrap: break-word;
  }

  .header1 {
    color: #FF6428; 
    font-size: 44px;
    font-weight: 600; 
    word-wrap: break-word
  }
  
  .kakhochesh img {
    margin-top: 55px;
    margin-left: 400px;
    margin-bottom: 180px;
    width: 50%; 
    height: 50%;
    position: relative;
  }

  .kaktotak {
    width: 100%; 
    height: 100%; 
    background: #121212
  }

  .Rhytm {
    padding-top: 40px;
    text-align: center;
  }

  .text1 {
    color: white;
    font-size: 44px; 
    font-weight: 600; 
    word-wrap: break-word
  }

  .text2 {
    color: #FF6428; 
    font-size: 44px; 
    font-weight: 600; 
    word-wrap: break-word
  }
  
  .imgcomp {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
  }

  .imgcomp1 img {
    width: 80px;
    height: 80px;
    margin: 0 0 20px 65px;
  }

  .imgcomp span {
    color: white;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1.44px;
    word-wrap: break-word;
    margin-bottom: 20px;
  }

  .imgcomp label {
    color: #666666;
    font-size: 14px;
    font-weight: 400;
    text-transform: capitalize;
    word-wrap: break-word;
    margin-bottom: 50px;
    max-width: 225px;
  }
  
  .imgcomp1 img, .imgcomp1 span, .imgcomp1 label {
    display: block !important;
    text-align: center;   
  }

  .buttons {
    text-align: start;
    display: flex !important;
  }
