.basketBtn {
    border: none;
    background: none;
    width: 40px;
    height: 25px;
    padding: 0;
    margin: 10px 10px 0 0;
    cursor: pointer;
    opacity: 0.5;
    transition: 0.5s;
}

.basketBtn:hover, .favoriteBtn:hover {
    opacity: 0.8;
}

.basketBtn:active, .favoriteBtn:active {
    opacity: 1;
}

.basketBtn img {
    width: 40px;
    height: 25px;
    margin: 0;
}

.favoriteBtn {
    border: none;
    background: none;
    width: 25px;
    height: 25px;
    padding: 0;
    margin: 10px 10px 0 0;
    cursor: pointer;
    opacity: 0.5;
    transition: 0.5s;
}

.favoriteBtn img {
    width: 25px;
    height: 25px;
    margin: 0;
}